# Postgres (used locally during testing , depricated now)
POSTGRES_DB=guru_sikshan
POSTGRES_USER=teacher_user
POSTGRES_PASSWORD=securepass123
POSTGRES_PORT=5432

# Google API Key
GEMINI_API_KEY=gemini_api_key_here

# Backend (was used earlier , entirely taken over by supabase)
DB_URL=postgresql://teacher_user:securepass123@localhost:5432/guru_sikshan

# JWT MAIN
JWT_SECRET=jwt_secret_here
JWT_EXPIRY_SECONDS=900
SESSION_TTL_SECONDS=86400

# SUPABASE
SUPABASE_URL=https://sueztfjexncmfntymjfn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=supabase_service_role_key_here
SUPABASE_KEY_PYTHON=supabase_service_role_key_here

# Frontend
VITE_API_URL=http://localhost:3000
VITE_AI_URL=http://localhost:5001
VITE_SUPABASE_URL=https://sueztfjexncmfntymjfn.supabase.co
VITE_SUPABASE_ANON_KEY=supabase_anon_key_here

# RAGFLOW
AI_SERVICE_URL=http://localhost:5001
RAGFLOW_API_KEY=ragflow_api_here
RAGFLOW_BASE_URL=ragflow_base_url_here
RAGFLOW_CHAT_ID=ragflow_main_chat_id_here
RAGFLOW_CLIENT_ID=client_id_here
RAGFLOW_CLIENT_SECRET=client_secret_here